*{
	box-sizing: border-box;
	background-color: #022F70;s
}

.logo{
	
}

.cname{
	
}
	
.menu{
	
	background-color: pink;
	height: 50px;
	text-align: center;
	padding: 10px;
	font-size:20px;
	padding-top: 10px;
	margin-top:5px;

}

.menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding-top: 5px;

}

.cname{
	margin-left: 2px;
 color: #2EA5FF;
  font-size:60px;
  height: 100px;
  width: 900px;
  text-align:;
  padding-top: 10px;
  padding-left: 150px;
  font-family: 'Kaushan Script', cursive;
  background-color:#022F70;
}

.banner{
	height: 1000px;
	width: 960px;
	margin-top: 10px;
	background-image: url("jaipur3.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 500px;

}
.hc{
	
	padding-top: 20px;
}

.ban{
	text-align: center;

}

.section_banner{
	background-image:none;
	margin-left: 0px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	color: pink;
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	
	
}
}

.ab_content{
	text-align: right;
	font-size:100px; 
	margin-top: 50px;
	color: pink;	

}
.about{
	font-size: 20px;
	text-align: justify;
	color: #C088B3;
}
.owner{
	margin-top: 25px;
}

.tour{
	color: #FAF189;
}


.contact{
	margin-top: 4px;
	text-align: left;
}

.form-control{
	width: 450px;
	height: 30px;
	background-color: white;
}

.form-label{
	color: pink;
	margin: 5px
}

.button{
	width: 100px;
	height: 30px;
	margin-top: 5px;
	align-content: center;
	background-color: pink;

}

.footer{
	background-color: #022F70;

	height: 500px;
	margin-top: 400px;
}

.foot_content{
	color: #2EA5FF;
	text-align: center;
	padding-top: 2px;

}

.video{
	margin-top:30px;
	margin-left: 50px;
	
}

.maps{
	padding-left:30px;
	margin-top: 20px;
	margin-bottom: 100px;
	width:100%;
}

a:hover {
  background-color: pink;
}

.offer{
	margin-top: 100px;
	font-size: 30px;
	margin-left: 0px;
	background-color:white;

}

.offer_cont{
	font-size: 20px;
	text-align: center;
	margin-left: 5px;

}


.explore{
  	text-align: center;
   	height: 0px;
	width: 100%;
	padding-left: 10px;
	padding-top: 1px;
  	font-family: 'Sacramento', cursive;
	font-family: 'Zilla Slab Highlight', cursive;
  	font-size: 40px;

}

.address{
	font-size: 25px;
	 color: #FAF189;
}

